<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <connectionStrings>
    <add name="StudentDBConnection" 
         connectionString="Server=localhost;Database=StudentInfoDB;Uid=root;Pwd=yourpassword;" 
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>